# APPLICATION
PORT=
NODE_ENV=

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Cookie 
COOKIE_SECRET=

# JWT 
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_TIME= 
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_TIME=